In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# !curl -s https://raw.githubusercontent.com/teddylee777/machine-learning/master/99-Misc/01-Colab/mecab-colab.sh | bash

In [3]:
import os

os.chdir('/usr/local/lib/python3.10/dist-packages/konlpy/java')
os.getcwd()

'/usr/local/lib/python3.10/dist-packages/konlpy/java'

In [4]:
# ì„ì‹œ í´ë”ì— Okt ì‚¬ì „ íŒŒì¼ ì••ì¶• í’€ê¸°
!pwd

/usr/local/lib/python3.10/dist-packages/konlpy/java

In [5]:
import shutil

filename = 'open-korean-text-2.1.0.jar'
src = '/content/drive/MyDrive/data/'
dir = '/usr/local/lib/python3.10/dist-packages/konlpy/java/'
shutil.copy(src + filename, dir + filename)

'/usr/local/lib/python3.10/dist-packages/konlpy/java/open-korean-text-2.1.0.jar'

In [6]:
# í…ŒìŠ¤íŠ¸
from konlpy.tag import Okt
okt = Okt()
print(okt.nouns('ë¬¸ë”¸ë‘ ì¢Œì¢€ë¹„ ë¬¸ë²  ê¸°ì§‘ë…„ë‹­ê·¼í˜œ ë ˆì¦ˆê²Œì´ ë”ë“¬ì–´ê°•ê°„ë‹¹ë°•ì‚¬ëª¨'))
print(okt.morphs('ë¬¸ë”¸ë‘ ì¢Œì¢€ë¹„ ë¬¸ë²  ê¸°ì§‘ë…„ë‹­ê·¼í˜œ ë ˆì¦ˆê²Œì´ ë”ë“¬ì–´ê°•ê°„ë‹¹ë°•ì‚¬ëª¨'))

['ë¬¸ë”¸ë‘', 'ì¢Œì¢€ë¹„', 'ë¬¸ë² ', 'ê¸°ì§‘ë…„', 'ë‹­ê·¼í˜œ', 'ë ˆì¦ˆ', 'ê²Œì´', 'ë”ë“¬ì–´ê°•ê°„ë‹¹', 'ë°•ì‚¬ëª¨']
['ë¬¸ë”¸ë‘', 'ì¢Œì¢€ë¹„', 'ë¬¸ë² ', 'ê¸°ì§‘ë…„', 'ë‹­ê·¼í˜œ', 'ë ˆì¦ˆ', 'ê²Œì´', 'ë”ë“¬ì–´ê°•ê°„ë‹¹', 'ë°•ì‚¬ëª¨']

In [7]:
import os
import re
import numpy as np
import pandas as pd
import matplotlib as mpl

path = '/content/drive/MyDrive/data/programmers_ai/yujatea/comp_2/'

In [8]:
train = pd.read_csv(os.path.join(path,'train.csv'))

In [9]:
vocab = pd.read_csv(os.path.join(path, 'vocab.csv'))

In [10]:
vocab

         key replace
0      SiBal      ì‹œë°œ
1    ssibark      ì‹œë°œ
2      ê°œsaeë“¤     ê°œìƒˆë“¤
3     Hannam      í•œë‚¨
4      sochu      ì†Œì¶”
..       ...     ...
439     ìª½ ë¹ ë¦¬     ìª½ë°”ë¦¬
440      ì‰ í€´      ìƒˆë¼
441    ì–‘ì•„ì·¨ìƒˆë¼   ì–‘ì•„ì¹˜ìƒˆë¼
442     ë³‘ ã……ë“¤     ë³‘ì‹ ë“¤
443       ì§±ì»¤      ì§±ê°œ

[444 rows x 2 columns]

In [11]:
vocab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444 entries, 0 to 443
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   key      444 non-null    object
 1   replace  444 non-null    object
dtypes: object(2)
memory usage: 7.1+ KB

In [12]:
def text_preprocess(df, vocab):
  # ì‚¬ìš©ì ì •ì˜ ì§€ì • í‘œí˜„ ìˆ˜ë™ìœ¼ë¡œ ë³€í™˜ì‹œì¼œì£¼ê¸°
  for key, replace in zip(vocab['key'].values, vocab['replace'].values):
    try:
      df['text'] = df['text'].str.replace(key, replace, regex=True)
    except:
      print(key)

  # ') ê¹¨ë¬¸', 'ë³‘@(#%^ì‹ ' ì²˜ë¦¬
  df['text'] = df['text'].replace({r'\) ê¹¨ë¬¸': 'ëŒ€ê¹¨ë¬¸'}, regex=True)
  df['text'] = df['text'].str.replace(r'ë³‘[@#%^]?\(*\)?.*?ì‹ ', "ë³‘ì‹ ", regex=True)

  # "OO"ë¥¼ ì œì™¸í•œ ì˜ì–´ í‘œí˜„ì€ EDA ê²°ê³¼ ëŒ€ì²´ë¡œ label 6ì— í•´ë‹¹ ë”°ë¼ì„œ ì¼ê´„ì ìœ¼ë¡œ í† í°í™” ëŒ€ìƒì—ì„œ ì œì™¸ ì‹œì¼œì¤€ë‹¤.
  # ì‚¬ì‹¤ì€ ì–´ë–»ê²Œ í•¸ë“¤ë§ì„ í•´ì•¼í• ì§€ êµ¬ì²´ì ì¸ ë°©ë²•ì„ ëª¨ë¥´ê² ë‹¤.
  # ?ì™€ !ëŠ” ì–´ë–¤ ì˜ë¯¸ë¥¼ ê°€ì§ˆê²ƒì´ë¼ ì¶”ì¸¡í•˜ê³  ë‚¨ê¸´ë‹¤.
  # ë‚˜ë¨¸ì§€ íŠ¹ìˆ˜ê¸°í˜¸ë“¤ì€ ì „ë¶€ ì§€ìš´ë‹¤.
  df['text'] = df['text'].replace('[^0-9ê°€-í£!?\sOO]+', '', regex=True)

  # '?'ì™€ '!'ê°€ ì—°ì†í•´ì„œ ë‚˜ì˜¤ëŠ” ê²½ìš° 1ê°œë§Œ ë‚¨ê¸°ê³  ì§€ì›Œì£¼ê¸°
  df['text'] = df['text'].str.replace(r'!+', '!', regex=True)
  df['text'] = df['text'].str.replace(r'\?+', '?', regex=True)

  # 'ã…‹ã…‹ã…‹'ë‚˜ 'ã…ã…ã…' ì²˜ëŸ¼ í•œê¸€ ììŒìœ¼ë¡œë§Œ ì´ë£¨ì–´ì§„ ê²½ìš°ëŠ” ì§€ì›Œì£¼ê¸°
  df['text'] = df['text'].str.replace('[ã„±-ã…]+', '?', regex=True)

  # ëª¨ìŒìœ¼ë¡œë§Œ ì´ë£¨ì–´ì§„ ë¶€ë¶„ë“¤ ì§€ì›Œì£¼ê¸°
  df['text'] = df['text'].str.replace('[ã…-ã…£]+', '?', regex=True)

In [13]:
# # ì‚¬ìš©ì ì •ì˜ ì§€ì • í‘œí˜„ ìˆ˜ë™ìœ¼ë¡œ ë³€í™˜ì‹œì¼œì£¼ê¸°
# for key, replace in zip(vocab['key'].values, vocab['replace'].values):
#   try:
#     train['text'] = train['text'].str.replace(key, replace, regex=True)
#   except:
#     print(key)

In [14]:
# ') ê¹¨ë¬¸', 'ë³‘@(#%^ì‹ ' ì²˜ë¦¬, 'X', 'x'
# train['text'] = train['text'].replace({r'\) ê¹¨ë¬¸': 'ëŒ€ê¹¨ë¬¸'}, regex=True)
# train['text'] = train['text'].str.replace(r'ë³‘[@#%^]?\(*\)?.*?ì‹ ', "ë³‘ì‹ ", regex=True)

In [15]:
# ì˜ì–´ í‘œí˜„ì€ EDA ê²°ê³¼ ëŒ€ì²´ë¡œ label 6ì— í•´ë‹¹ ë”°ë¼ì„œ ì¼ê´„ì ìœ¼ë¡œ í† í°í™” ëŒ€ìƒì—ì„œ ì œì™¸ ì‹œì¼œì¤€ë‹¤
# ì‚¬ì‹¤ì€ ì–´ë–»ê²Œ í•¸ë“¤ë§ì„ í•´ì•¼í• ì§€ êµ¬ì²´ì ì¸ ë°©ë²•ì„ ëª¨ë¥´ê² ë‹¤.
# ?ì™€ !ëŠ” ì–´ë–¤ ì˜ë¯¸ë¥¼ ê°€ì§ˆê²ƒì´ë¼ ì¶”ì¸¡í•˜ê³  ë‚¨ê¸´ë‹¤.
# ë‚˜ë¨¸ì§€ íŠ¹ìˆ˜ê¸°í˜¸ë“¤ì€ ì „ë¶€ ì§€ìš´ë‹¤.
# train['text'] = train['text'].replace('[^0-9ê°€-í£!?\s]+', '', regex=True)

In [16]:
# '?'ì™€ '!'ê°€ ì—°ì†í•´ì„œ ë‚˜ì˜¤ëŠ” ê²½ìš° 1ê°œë§Œ ë‚¨ê¸°ê³  ì§€ì›Œì£¼ê¸°
# train['text'] = train['text'].str.replace(r'!+', '!', regex=True)

In [17]:
# train['text'] = train['text'].str.replace(r'\?+', '?', regex=True)

In [18]:
# 'ã…‹ã…‹ã…‹'ë‚˜ 'ã…ã…ã…' ì²˜ëŸ¼ í•œê¸€ ììŒìœ¼ë¡œë§Œ ì´ë£¨ì–´ì§„ ê²½ìš°ëŠ” ì§€ì›Œì£¼ê¸°
# train['text'] = train['text'].str.replace('[ã„±-ã…]+', '?', regex=True)

In [19]:
# ëª¨ìŒìœ¼ë¡œë§Œ ì´ë£¨ì–´ì§„ ë¶€ë¶„ë“¤ ì§€ì›Œì£¼ê¸°
# train['text'] = train['text'].str.replace('[ã…-ã…£]+', '?', regex=True)

In [20]:
text_preprocess(train, vocab)

) ê¹¨ë¬¸
ë³‘@(#%^ì‹

In [21]:
test = pd.read_csv(os.path.join(path, 'test.csv'))
test.head()

   ID                                             text  label
0   0  "ì†”ì§íˆ ìš°ë¦¬ë‚˜ë¼ ì²­ë…„ë“¤ë„ ë¶ˆìŒí•˜ê³  ì•„ì¬ë“¤ë„ ë¶ˆìŒí•˜ê³  ë…¸ì¸ë“¤ë„ ë¶ˆìŒí•˜ë‹¤. ë‚˜ë¼ê°€ ì°¸"    NaN
1   1                                 ê·¸ë§Œ ë³´ê³ ì‹¶ë„¤ìš” .ëŠ™ì€ì• ë“¤ì€.    NaN
2   2                                   "ë”ëŸ¬ìš´ ê°œì‹ êµë²Œë ˆ ìƒˆí€´"    NaN
3   3                    ê·¼ë°ì „íƒœìˆ˜ì”¨ ì‚¬ë§ì´ìœ ê°€ë­”ê°€ìš”ê·¸ì–´ë–¤ê¸°ì‚¬ì—ë„ ë‚˜ì˜¤ì§ˆì•Šë„¤ìš”    NaN
4   4                   "íƒœê·¹ê¸°ë¶€ëŒ€ì™€ í‹€ë‹­ë°”í€´ì¶©ë“¤ì—ê²Œ ìˆœì‹œë¦¬ëŠ” êµ­ëª¨ë‹¤. ã…‰ã…‰"    NaN

In [22]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13491 entries, 0 to 13490
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      13491 non-null  int64
 1   text    13491 non-null  object
 2   label   0 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 316.3+ KB

In [23]:
# íŠ¹ìˆ˜ë¬¸ìë¡œë§Œ ì´ë£¨ì–´ì§„ ì¼€ì´ìŠ¤
pattern = r'^[\W_]+$'
matches = test[test['text'].str.contains(pattern, regex=True)]
matches

          ID                     text  label
1415    1415  "ğŸ‘ğŸ‘ğŸ‘ğŸ‘ğŸ‘ğŸ‘ğŸ‘ğŸ‡°ğŸ‡·ğŸ‡°ğŸ‡·ğŸ‡°ğŸ‡·ğŸ‡°ğŸ‡·ğŸ‡°ğŸ‡·ğŸ‡°ğŸ‡·ğŸ‡°ğŸ‡·"    NaN
12955  12955           "ğŸ¤£ğŸ¤£ğŸ¤£ğŸ¤£ğŸ¤£ğŸ¤£ğŸ¤£ğŸ˜‹ğŸ˜‹ğŸ˜‹ğŸ˜‹ğŸ˜‹"    NaN
13402  13402             "ğŸ‘ğŸ»ğŸ‘ğŸ»ğŸ‘ğŸ»ğŸ‘ğŸ»ğŸ‘ğŸ»"    NaN

In [24]:
matches_eng = test[test['text'].str.contains('[a-zA-Z]', regex=True)]
matches_eng

          ID                                               text  label
48        48  "ì´í¬í˜¸ê°™ì€ OOO í˜ë¯¸ë…„ë„ ê±°ì˜ ë°±ì‚´ê¹Œì§€ ì‚´ì•˜ëŠ”ë° ì—”ë‘ëŠ” 120ê¹Œì§€ ê°€ì•¼ì§€ ã„¹ã…‡ ...    NaN
141      141  ë‚˜ë„ ìš”ì¦˜ ë‚˜ì´ê°€ ì¢€ ì°¬ 30ëŒ€ë¼ ë§‰ ì±™ê²¨ë³´ëŠ”ì‚¬ëŒì€ ì•„ë‹ˆê³  ì²˜ìŒì—ëŠ”BJë“¤ ì•ˆì¢‹ê²Œ ë´¤...    NaN
143      143                              "Chinese cao ni ma !"    NaN
155      155            "low ë³‘ x ëŒ€ëŒ“ê¸€ ìì‚­í–ˆë„¤ ã…‰ã…‰ ëŒ€ê¹¨ë¬¸ë“¤ì€ ê± ì£½ì–´ì¤¬ìœ¼ë©´ ì¢‹ê² ë‹¤"    NaN
231      231               "ì „í˜•ì ì¸ ìª½ë°œì´ ìƒˆxxxë¼ ê´€ìƒì´ë‹¤. í•˜ëŠ”ì§“ë„ ìƒê¸´ê²ƒê³¼ ë˜‘ê°™ë„¤"    NaN
...      ...                                                ...    ...
13389  13389                       "OOOë“¤ ìš°ë¦¬í• ë¨¸ë‹ˆ ë°œë’¤ê¿ˆì¹˜ ë³´ë‹¤ ë” ëª»ìƒê¸´ë…„ë“¤"    NaN
13425  13425                      ë²•ì„ê°•í™”ì•ˆì‹œí‚¤ë‹ˆ ì´ëª¨ì–‘ì´ê¼´ì´ì§€ ë­í•˜ëŠ”ê±°ë‹ˆ ë„ëŒ€ì²´OOO    NaN
13454  13454                    "ê·¸ë‡¬ ì´ë¼ê³  í•œ ê±¸ë ˆë„ ìˆì—ˆëŠ”ë° ì €OOO í•´ë„ ë˜ì§€ëª¨"    NaN
13482  13482                           "50ëŒ€ OOO ë“¤ ì™œ ì‚¬ëƒ ë„ëŒ€ì²´ ë‹ˆë“¤ì€"    NaN
13486  13486   "ã……ã…‚ì €ë…„ í•œêµ­ì¸ ì•„ë‹ˆë¼ì„œ ë²•ì ìœ¼ë¡œ ì–´ë–»ê²Œ ëª»í•˜ëŠ”ê±°ì•„ë‹˜?OOOì•„ ã……ã…‚ ëŠê·¸ë‚˜ë¼ë¡œ êº¼ì ¸"    NaN

[564 rows x 3 columns]

In [25]:
text_preprocess(test, vocab)

) ê¹¨ë¬¸
ë³‘@(#%^ì‹

In [26]:
test

          ID                                               text  label
0          0       ì†”ì§íˆ ìš°ë¦¬ë‚˜ë¼ ì²­ë…„ë“¤ë„ ë¶ˆìŒí•˜ê³  ì•„ì¬ë“¤ë„ ë¶ˆìŒí•˜ê³  ë…¸ì¸ë“¤ë„ ë¶ˆìŒí•˜ë‹¤ ë‚˜ë¼ê°€ ì°¸    NaN
1          1                                     ê·¸ë§Œ ë³´ê³ ì‹¶ë„¤ìš” ëŠ™ì€ì• ë“¤ì€    NaN
2          2                                       ë”ëŸ¬ìš´ ê°œì‹ êµë²Œë ˆ ìƒˆë¼    NaN
3          3                      ê·¼ë°ì „íƒœìˆ˜ì”¨ ì‚¬ë§ì´ìœ ê°€ë­”ê°€ìš”ê·¸ì–´ë–¤ê¸°ì‚¬ì—ë„ ë‚˜ì˜¤ì§ˆì•Šë„¤ìš”    NaN
4          4                          íƒœê·¹ê¸°ë¶€ëŒ€ì™€ í‹€ë‹­ë°”í€´ì¶©ë“¤ì—ê²Œ ìˆœì‹œë¦¬ëŠ” êµ­ëª¨ë‹¤     NaN
...      ...                                                ...    ...
13486  13486      ì‹œë°œì €ë…„ í•œêµ­ì¸ ì•„ë‹ˆë¼ì„œ ë²•ì ìœ¼ë¡œ ì–´ë–»ê²Œ ëª»í•˜ëŠ”ê±°ì•„ë‹˜?OOì•„ ì‹œë°œ ëŠê·¸ë‚˜ë¼ë¡œ êº¼ì ¸    NaN
13487  13487                                        í‹€ë”± íƒì‹œê¸°ì‚¬ ì™”ëŠ”ê°€    NaN
13488  13488                                    í‹€ë”±ë“¤ì˜ í”í•œ ë§ìƒì¤‘ í•˜ë‚˜ì£     NaN
13489  13489                   ë¹¨ê°±ì´ ìƒˆë¼ìƒˆë¼ ì—­ì‹œ ì”ì¸í•˜ë…¸ ëŠ¥ì§€ì²˜ì°¸ì€ ì¤‘êµ­ë†ˆì¸ ë‹ˆë†ˆì´ê³     NaN
13490  13490  ê¹€íƒœë¦¬ ê²½í¬ëŒ€ì¸ë° ì‹¤ì—…ê³„ ê³ ë“±í•™êµ ì¶œì‹ ì´ëƒ? ìš”ìƒˆ ëŒ€ì…ì „í˜•ê°œíŒì¸ í‹ˆì„ ì˜ì´ìš©í•œ ì¼€ì´...    NaN

[13491 rows x 3 columns]

In [27]:
from sklearn.model_selection import train_test_split

train_df, valid_df = train_test_split(train, test_size=0.2, random_state=42, stratify=train['label'])

In [28]:
train_df.shape, valid_df.shape

((52690, 3), (13173, 3))

In [29]:
# í† í¬ë‚˜ì´ì € ì •ì˜
from konlpy.tag import Okt
okt = Okt()

In [30]:
import torch
import torchtext
from torchtext import data
import torch.nn as nn
import torch.nn.functional as F

import random

In [31]:
seed = 50
os.environ['PYTHONHASHSEED'] = str(seed)
random.seed(seed)
np.random.seed(seed)
torch.manual_seed(seed)
torch.cuda.manual_seed(seed)
torch.cuda.manual_seed_all(seed)
torch.backends.cudnn.deterministic = True
torch.backends.cudnn.benchmark = False
torch.backends.cudnn.enabled = False

In [32]:
from torchtext.data.utils import get_tokenizer
from torchtext.vocab import build_vocab_from_iterator

In [33]:
tokenizer = get_tokenizer(okt.morphs)
tokens = tokenizer("OOOë“¤ ìš°ë¦¬í• ë¨¸ë‹ˆ ë°œë’¤ê¿ˆì¹˜ ë³´ë‹¤ ë” ëª»ìƒê¸´ë…„ë“¤"	)
tokens

['OOO', 'ë“¤', 'ìš°ë¦¬', 'í• ë¨¸ë‹ˆ', 'ë°œë’¤ê¿ˆì¹˜', 'ë³´ë‹¤', 'ë”', 'ëª»', 'ìƒê¸´', 'ë…„', 'ë“¤']

In [47]:
train_iter = train['text'].values

def yield_tokens(data_iter):
    for text in data_iter:
      yield tokenizer(text)

vocab = build_vocab_from_iterator(yield_tokens(train_iter), min_freq=2,  specials=["<ëª¨ë¦„>"])

In [49]:
vocab.set_default_index(vocab["<ëª¨ë¦„>"])

In [50]:
text_pipeline = lambda x: vocab(tokenizer(x))

In [54]:
from torch.utils.data import Dataset
from torch.utils.data import DataLoader
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

In [58]:
len(vocab)

30578

In [60]:
text_pipeline("OOOë“¤ ìš°ë¦¬í• ë¨¸ë‹ˆ ë°œë’¤ê¿ˆì¹˜ ë³´ë‹¤ ë” ëª»ìƒê¸´ë…„ë“¤")

[13714, 1, 158, 1105, 0, 95, 54, 13, 146, 35, 1]

In [62]:
class CustomDataset(Dataset):
    def __init__(self, df, is_test=False):
        super().__init__()
        self.df = df
        self.is_test = is_test
    
    def __len__(self):
        return len(self.df)
    
    def __getitem__(self, idx):
        text = text_pipeline(self.df.iloc[idx, 1])

        if self.is_test:
            return text
        else:
            label = self.df.iloc[idx, 2]
            return text, label

In [64]:
dataset_train = CustomDataset(train_df, is_test=False)
dataset_valid = CustomDataset(valid_df, is_test=False)

In [65]:
def seed_worker(worker_id):
    worker_seed = torch.initial_seed() % 2**32
    np.random.seed(worker_seed)
    random.seed(worker_seed)

g = torch.Generator()
g.manual_seed(0)

In [66]:
batch_size = 64

loader_train = DataLoader(dataset_train, batch_size=batch_size, shuffle=True, worker_init_fn=seed_worker, generator=g, num_workers=2)
loader_valid = DataLoader(dataset_valid, batch_size=batch_size, shuffle=False, worker_init_fn=seed_worker, generator=g, num_workers=2)

In [ ]:
INPUT_DIM = len(vocab) #30578
EMBEDDING_DIM = 100
HIDDEN_DIM = 256
OUTPUT_DIM = 1