In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./data/df_final.csv')
df.head()

,Country,Region,Rank,Score,GDP,Social Support,Health,Year
0,Switzerland,Western Europe,1.0,7.587,1.39651,1.34951,0.94143,2015
1,Iceland,Western Europe,2.0,7.561,1.30232,1.40223,0.94784,2015
2,Denmark,Western Europe,3.0,7.527,1.32548,1.36058,0.87464,2015
3,Norway,Western Europe,4.0,7.522,1.45900,1.33095,0.88521,2015
4,Canada,North America,5.0,7.427,1.32629,1.32261,0.90563,2015

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230 entries, 0 to 1229
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         1230 non-null   object
 1   Region          1189 non-null   object
 2   Rank            1230 non-null   float64
 3   Score           1230 non-null   float64
 4   GDP             1230 non-null   float64
 5   Social Support  1230 non-null   float64
 6   Health          1230 non-null   float64
 7   Year            1230 non-null   int64
dtypes: float64(5), int64(1), object(2)
memory usage: 77.0+ KB