In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# !curl -s https://raw.githubusercontent.com/teddylee777/machine-learning/master/99-Misc/01-Colab/mecab-colab.sh | bash

In [3]:
import os

os.chdir('/usr/local/lib/python3.10/dist-packages/konlpy/java')
os.getcwd()

'/usr/local/lib/python3.10/dist-packages/konlpy/java'

In [4]:
# ì„ì‹œ í´ë”ì— Okt ì‚¬ì „ íŒŒì¼ ì••ì¶• í’€ê¸°
!pwd

/usr/local/lib/python3.10/dist-packages/konlpy/java

In [5]:
import shutil

filename = 'open-korean-text-2.1.0.jar'
src = '/content/drive/MyDrive/data/'
dir = '/usr/local/lib/python3.10/dist-packages/konlpy/java/'
shutil.copy(src + filename, dir + filename)

'/usr/local/lib/python3.10/dist-packages/konlpy/java/open-korean-text-2.1.0.jar'

In [6]:
# í…ŒìŠ¤íŠ¸
from konlpy.tag import Okt
okt = Okt()
print(okt.nouns('ë¬¸ë”¸ë‘ ì¢Œì¢€ë¹„ ë¬¸ë²  ê¸°ì§‘ë…„ë‹­ê·¼í˜œ ë ˆì¦ˆê²Œì´ ë”ë“¬ì–´ê°•ê°„ë‹¹ë°•ì‚¬ëª¨'))
print(okt.morphs('ë¬¸ë”¸ë‘ ì¢Œì¢€ë¹„ ë¬¸ë²  ê¸°ì§‘ë…„ë‹­ê·¼í˜œ ë ˆì¦ˆê²Œì´ ë”ë“¬ì–´ê°•ê°„ë‹¹ë°•ì‚¬ëª¨'))

['ë¬¸ë”¸ë‘', 'ì¢Œì¢€ë¹„', 'ë¬¸ë² ', 'ê¸°ì§‘ë…„', 'ë‹­ê·¼í˜œ', 'ë ˆì¦ˆ', 'ê²Œì´', 'ë”ë“¬ì–´ê°•ê°„ë‹¹', 'ë°•ì‚¬ëª¨']
['ë¬¸ë”¸ë‘', 'ì¢Œì¢€ë¹„', 'ë¬¸ë² ', 'ê¸°ì§‘ë…„', 'ë‹­ê·¼í˜œ', 'ë ˆì¦ˆ', 'ê²Œì´', 'ë”ë“¬ì–´ê°•ê°„ë‹¹', 'ë°•ì‚¬ëª¨']

In [7]:
import os
import re
import numpy as np
import pandas as pd
import matplotlib as mpl

path = '/content/drive/MyDrive/data/programmers_ai/yujatea/comp_2/'

In [8]:
train = pd.read_csv(os.path.join(path,'train.csv'))

In [9]:
vocab = pd.read_csv(os.path.join(path, 'vocab.csv'))

In [10]:
vocab

         key replace
0      SiBal      ì‹œë°œ
1    ssibark      ì‹œë°œ
2      ê°œsaeë“¤     ê°œìƒˆë“¤
3     Hannam      í•œë‚¨
4      sochu      ì†Œì¶”
..       ...     ...
439     ìª½ ë¹ ë¦¬     ìª½ë°”ë¦¬
440      ì‰ í€´      ìƒˆë¼
441    ì–‘ì•„ì·¨ìƒˆë¼   ì–‘ì•„ì¹˜ìƒˆë¼
442     ë³‘ ã……ë“¤     ë³‘ì‹ ë“¤
443       ì§±ì»¤      ì§±ê°œ

[444 rows x 2 columns]

In [11]:
vocab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444 entries, 0 to 443
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   key      444 non-null    object
 1   replace  444 non-null    object
dtypes: object(2)
memory usage: 7.1+ KB

In [12]:
def text_preprocess(df, vocab):
  # ì‚¬ìš©ì ì •ì˜ ì§€ì • í‘œí˜„ ìˆ˜ë™ìœ¼ë¡œ ë³€í™˜ì‹œì¼œì£¼ê¸°
  for key, replace in zip(vocab['key'].values, vocab['replace'].values):
    try:
      df['text'] = df['text'].str.replace(key, replace, regex=True)
    except:
      print(key)

  # ') ê¹¨ë¬¸', 'ë³‘@(#%^ì‹ ' ì²˜ë¦¬
  df['text'] = df['text'].replace({r'\) ê¹¨ë¬¸': 'ëŒ€ê¹¨ë¬¸'}, regex=True)
  df['text'] = df['text'].str.replace(r'ë³‘[@#%^]?\(*\)?.*?ì‹ ', "ë³‘ì‹ ", regex=True)

  # "OO"ë¥¼ ì œì™¸í•œ ì˜ì–´ í‘œí˜„ì€ EDA ê²°ê³¼ ëŒ€ì²´ë¡œ label 6ì— í•´ë‹¹ ë”°ë¼ì„œ ì¼ê´„ì ìœ¼ë¡œ í† í°í™” ëŒ€ìƒì—ì„œ ì œì™¸ ì‹œì¼œì¤€ë‹¤.
  # ì‚¬ì‹¤ì€ ì–´ë–»ê²Œ í•¸ë“¤ë§ì„ í•´ì•¼í• ì§€ êµ¬ì²´ì ì¸ ë°©ë²•ì„ ëª¨ë¥´ê² ë‹¤.
  # ?ì™€ !ëŠ” ì–´ë–¤ ì˜ë¯¸ë¥¼ ê°€ì§ˆê²ƒì´ë¼ ì¶”ì¸¡í•˜ê³  ë‚¨ê¸´ë‹¤.
  # ë‚˜ë¨¸ì§€ íŠ¹ìˆ˜ê¸°í˜¸ë“¤ì€ ì „ë¶€ ì§€ìš´ë‹¤.
  df['text'] = df['text'].replace('[^0-9ê°€-í£!?\sOO]+', '', regex=True)

  # '?'ì™€ '!'ê°€ ì—°ì†í•´ì„œ ë‚˜ì˜¤ëŠ” ê²½ìš° 1ê°œë§Œ ë‚¨ê¸°ê³  ì§€ì›Œì£¼ê¸°
  df['text'] = df['text'].str.replace(r'!+', '!', regex=True)
  df['text'] = df['text'].str.replace(r'\?+', '?', regex=True)

  # 'ã…‹ã…‹ã…‹'ë‚˜ 'ã…ã…ã…' ì²˜ëŸ¼ í•œê¸€ ììŒìœ¼ë¡œë§Œ ì´ë£¨ì–´ì§„ ê²½ìš°ëŠ” ì§€ì›Œì£¼ê¸°
  df['text'] = df['text'].str.replace('[ã„±-ã…]+', '?', regex=True)

  # ëª¨ìŒìœ¼ë¡œë§Œ ì´ë£¨ì–´ì§„ ë¶€ë¶„ë“¤ ì§€ì›Œì£¼ê¸°
  df['text'] = df['text'].str.replace('[ã…-ã…£]+', '?', regex=True)

In [13]:
def text_preprocess_test(df, vocab):
  # ì‚¬ìš©ì ì •ì˜ ì§€ì • í‘œí˜„ ìˆ˜ë™ìœ¼ë¡œ ë³€í™˜ì‹œì¼œì£¼ê¸°
  for key, replace in zip(vocab['key'].values, vocab['replace'].values):
    try:
      df['text'] = df['text'].str.replace(key, replace, regex=True)
    except:
      print(key)

  # ') ê¹¨ë¬¸', 'ë³‘@(#%^ì‹ ' ì²˜ë¦¬
  df['text'] = df['text'].replace({r'\) ê¹¨ë¬¸': 'ëŒ€ê¹¨ë¬¸'}, regex=True)
  df['text'] = df['text'].str.replace(r'ë³‘[@#%^]?\(*\)?.*?ì‹ ', "ë³‘ì‹ ", regex=True)

  # '?'ì™€ '!'ê°€ ì—°ì†í•´ì„œ ë‚˜ì˜¤ëŠ” ê²½ìš° 1ê°œë§Œ ë‚¨ê¸°ê³  ì§€ì›Œì£¼ê¸°
  df['text'] = df['text'].str.replace(r'!+', '!', regex=True)
  df['text'] = df['text'].str.replace(r'\?+', '?', regex=True)

In [14]:
# # ì‚¬ìš©ì ì •ì˜ ì§€ì • í‘œí˜„ ìˆ˜ë™ìœ¼ë¡œ ë³€í™˜ì‹œì¼œì£¼ê¸°
# for key, replace in zip(vocab['key'].values, vocab['replace'].values):
#   try:
#     train['text'] = train['text'].str.replace(key, replace, regex=True)
#   except:
#     print(key)

In [15]:
# ') ê¹¨ë¬¸', 'ë³‘@(#%^ì‹ ' ì²˜ë¦¬, 'X', 'x'
# train['text'] = train['text'].replace({r'\) ê¹¨ë¬¸': 'ëŒ€ê¹¨ë¬¸'}, regex=True)
# train['text'] = train['text'].str.replace(r'ë³‘[@#%^]?\(*\)?.*?ì‹ ', "ë³‘ì‹ ", regex=True)

In [16]:
# ì˜ì–´ í‘œí˜„ì€ EDA ê²°ê³¼ ëŒ€ì²´ë¡œ label 6ì— í•´ë‹¹ ë”°ë¼ì„œ ì¼ê´„ì ìœ¼ë¡œ í† í°í™” ëŒ€ìƒì—ì„œ ì œì™¸ ì‹œì¼œì¤€ë‹¤
# ì‚¬ì‹¤ì€ ì–´ë–»ê²Œ í•¸ë“¤ë§ì„ í•´ì•¼í• ì§€ êµ¬ì²´ì ì¸ ë°©ë²•ì„ ëª¨ë¥´ê² ë‹¤.
# ?ì™€ !ëŠ” ì–´ë–¤ ì˜ë¯¸ë¥¼ ê°€ì§ˆê²ƒì´ë¼ ì¶”ì¸¡í•˜ê³  ë‚¨ê¸´ë‹¤.
# ë‚˜ë¨¸ì§€ íŠ¹ìˆ˜ê¸°í˜¸ë“¤ì€ ì „ë¶€ ì§€ìš´ë‹¤.
# train['text'] = train['text'].replace('[^0-9ê°€-í£!?\s]+', '', regex=True)

In [17]:
# '?'ì™€ '!'ê°€ ì—°ì†í•´ì„œ ë‚˜ì˜¤ëŠ” ê²½ìš° 1ê°œë§Œ ë‚¨ê¸°ê³  ì§€ì›Œì£¼ê¸°
# train['text'] = train['text'].str.replace(r'!+', '!', regex=True)

In [18]:
# train['text'] = train['text'].str.replace(r'\?+', '?', regex=True)

In [19]:
# 'ã…‹ã…‹ã…‹'ë‚˜ 'ã…ã…ã…' ì²˜ëŸ¼ í•œê¸€ ììŒìœ¼ë¡œë§Œ ì´ë£¨ì–´ì§„ ê²½ìš°ëŠ” ì§€ì›Œì£¼ê¸°
# train['text'] = train['text'].str.replace('[ã„±-ã…]+', '?', regex=True)

In [20]:
# ëª¨ìŒìœ¼ë¡œë§Œ ì´ë£¨ì–´ì§„ ë¶€ë¶„ë“¤ ì§€ì›Œì£¼ê¸°
# train['text'] = train['text'].str.replace('[ã…-ã…£]+', '?', regex=True)

In [21]:
text_preprocess(train, vocab)

) ê¹¨ë¬¸
ë³‘@(#%^ì‹

In [22]:
test = pd.read_csv(os.path.join(path, 'test.csv'))
test.head()

   ID                                             text  label
0   0  "ì†”ì§íˆ ìš°ë¦¬ë‚˜ë¼ ì²­ë…„ë“¤ë„ ë¶ˆìŒí•˜ê³  ì•„ì¬ë“¤ë„ ë¶ˆìŒí•˜ê³  ë…¸ì¸ë“¤ë„ ë¶ˆìŒí•˜ë‹¤. ë‚˜ë¼ê°€ ì°¸"    NaN
1   1                                 ê·¸ë§Œ ë³´ê³ ì‹¶ë„¤ìš” .ëŠ™ì€ì• ë“¤ì€.    NaN
2   2                                   "ë”ëŸ¬ìš´ ê°œì‹ êµë²Œë ˆ ìƒˆí€´"    NaN
3   3                    ê·¼ë°ì „íƒœìˆ˜ì”¨ ì‚¬ë§ì´ìœ ê°€ë­”ê°€ìš”ê·¸ì–´ë–¤ê¸°ì‚¬ì—ë„ ë‚˜ì˜¤ì§ˆì•Šë„¤ìš”    NaN
4   4                   "íƒœê·¹ê¸°ë¶€ëŒ€ì™€ í‹€ë‹­ë°”í€´ì¶©ë“¤ì—ê²Œ ìˆœì‹œë¦¬ëŠ” êµ­ëª¨ë‹¤. ã…‰ã…‰"    NaN

In [23]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13491 entries, 0 to 13490
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      13491 non-null  int64
 1   text    13491 non-null  object
 2   label   0 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 316.3+ KB

In [24]:
# íŠ¹ìˆ˜ë¬¸ìë¡œë§Œ ì´ë£¨ì–´ì§„ ì¼€ì´ìŠ¤
pattern = r'^[\W_]+$'
matches = test[test['text'].str.contains(pattern, regex=True)]
matches

          ID                     text  label
1415    1415  "ğŸ‘ğŸ‘ğŸ‘ğŸ‘ğŸ‘ğŸ‘ğŸ‘ğŸ‡°ğŸ‡·ğŸ‡°ğŸ‡·ğŸ‡°ğŸ‡·ğŸ‡°ğŸ‡·ğŸ‡°ğŸ‡·ğŸ‡°ğŸ‡·ğŸ‡°ğŸ‡·"    NaN
12955  12955           "ğŸ¤£ğŸ¤£ğŸ¤£ğŸ¤£ğŸ¤£ğŸ¤£ğŸ¤£ğŸ˜‹ğŸ˜‹ğŸ˜‹ğŸ˜‹ğŸ˜‹"    NaN
13402  13402             "ğŸ‘ğŸ»ğŸ‘ğŸ»ğŸ‘ğŸ»ğŸ‘ğŸ»ğŸ‘ğŸ»"    NaN

In [25]:
matches_eng = test[test['text'].str.contains('[a-zA-Z]', regex=True)]
matches_eng

          ID                                               text  label
48        48  "ì´í¬í˜¸ê°™ì€ OOO í˜ë¯¸ë…„ë„ ê±°ì˜ ë°±ì‚´ê¹Œì§€ ì‚´ì•˜ëŠ”ë° ì—”ë‘ëŠ” 120ê¹Œì§€ ê°€ì•¼ì§€ ã„¹ã…‡ ...    NaN
141      141  ë‚˜ë„ ìš”ì¦˜ ë‚˜ì´ê°€ ì¢€ ì°¬ 30ëŒ€ë¼ ë§‰ ì±™ê²¨ë³´ëŠ”ì‚¬ëŒì€ ì•„ë‹ˆê³  ì²˜ìŒì—ëŠ”BJë“¤ ì•ˆì¢‹ê²Œ ë´¤...    NaN
143      143                              "Chinese cao ni ma !"    NaN
155      155            "low ë³‘ x ëŒ€ëŒ“ê¸€ ìì‚­í–ˆë„¤ ã…‰ã…‰ ëŒ€ê¹¨ë¬¸ë“¤ì€ ê± ì£½ì–´ì¤¬ìœ¼ë©´ ì¢‹ê² ë‹¤"    NaN
231      231               "ì „í˜•ì ì¸ ìª½ë°œì´ ìƒˆxxxë¼ ê´€ìƒì´ë‹¤. í•˜ëŠ”ì§“ë„ ìƒê¸´ê²ƒê³¼ ë˜‘ê°™ë„¤"    NaN
...      ...                                                ...    ...
13389  13389                       "OOOë“¤ ìš°ë¦¬í• ë¨¸ë‹ˆ ë°œë’¤ê¿ˆì¹˜ ë³´ë‹¤ ë” ëª»ìƒê¸´ë…„ë“¤"    NaN
13425  13425                      ë²•ì„ê°•í™”ì•ˆì‹œí‚¤ë‹ˆ ì´ëª¨ì–‘ì´ê¼´ì´ì§€ ë­í•˜ëŠ”ê±°ë‹ˆ ë„ëŒ€ì²´OOO    NaN
13454  13454                    "ê·¸ë‡¬ ì´ë¼ê³  í•œ ê±¸ë ˆë„ ìˆì—ˆëŠ”ë° ì €OOO í•´ë„ ë˜ì§€ëª¨"    NaN
13482  13482                           "50ëŒ€ OOO ë“¤ ì™œ ì‚¬ëƒ ë„ëŒ€ì²´ ë‹ˆë“¤ì€"    NaN
13486  13486   "ã……ã…‚ì €ë…„ í•œêµ­ì¸ ì•„ë‹ˆë¼ì„œ ë²•ì ìœ¼ë¡œ ì–´ë–»ê²Œ ëª»í•˜ëŠ”ê±°ì•„ë‹˜?OOOì•„ ã……ã…‚ ëŠê·¸ë‚˜ë¼ë¡œ êº¼ì ¸"    NaN

[564 rows x 3 columns]

In [26]:
text_preprocess_test(test, vocab)

) ê¹¨ë¬¸
ë³‘@(#%^ì‹

In [27]:
stopwords = set()
f = open(os.path.join(path, 'stopwords.txt'), 'r')
lines = f.readlines()
for line in lines:
    line = line.strip().split()  # ì¤„ ëì˜ ì¤„ ë°”ê¿ˆ ë¬¸ìë¥¼ ì œê±°í•œë‹¤.
    for item in line:
      stopwords.add(item)
f.close()

print(len(stopwords))

680

In [28]:
# train['text'] = train['text'].apply(lambda x: ' '.join([i for i in okt.morphs(x) if i not in stopwords]))

In [29]:
# test['text'] = test['text'].apply(lambda x: ' '.join([i for i in okt.morphs(x) if i not in stopwords]))

In [30]:
print(train['text'].str.len().max())
print(test['text'].str.len().max())

299
301

In [31]:
from sklearn.model_selection import train_test_split

train_df, valid_df = train_test_split(train, test_size=0.2, random_state=42, stratify=train['label'])

In [32]:
train_df.shape, valid_df.shape

((52690, 3), (13173, 3))

In [33]:
# í† í¬ë‚˜ì´ì € ì •ì˜
from konlpy.tag import Okt
okt = Okt()

In [34]:
import torch
import torchtext
import torch.nn as nn
import torch.nn.functional as F

import random

In [35]:
seed = 50
os.environ['PYTHONHASHSEED'] = str(seed)
random.seed(seed)
np.random.seed(seed)
torch.manual_seed(seed)
torch.cuda.manual_seed(seed)
torch.cuda.manual_seed_all(seed)
torch.backends.cudnn.deterministic = True
torch.backends.cudnn.benchmark = False
torch.backends.cudnn.enabled = False

In [36]:
# !pip install torchtext==0.6.0

In [37]:
ID = torchtext.data.Field(sequential = False,
                use_vocab = False) # ì‹¤ì œ ì‚¬ìš©ì€ í•˜ì§€ ì•Šì„ ì˜ˆì •

TEXT = torchtext.data.Field(sequential=True,
                  use_vocab=True,
                  tokenize=okt.morphs, # í† í¬ë‚˜ì´ì €ë¡œëŠ” Mecab ì‚¬ìš©.
                  # include_lengths = True,
                  batch_first=True,
                  stop_words=stopwords
                  )

LABEL = torchtext.data.Field(sequential=False,
                   use_vocab=False,
                   is_target=True)

In [38]:
torchtext.__version__

'0.6.0'

In [39]:
train_df.reset_index(inplace=True)
train_df = train_df.sort_values(by='ID')
train_df.drop(columns='index', inplace=True)
train_df.to_csv(os.path.join(path, 'train_df.csv'), index=False)

In [40]:
valid_df.reset_index(inplace=True)
valid_df = valid_df.sort_values(by='ID')
valid_df.drop(columns='index', inplace=True)
valid_df.to_csv(os.path.join(path, 'valid_df.csv'), index=False)

In [41]:
import numpy as np
test['label'] = np.random.randint(7)
test.to_csv(os.path.join(path, 'test_df.csv'), index=False)

In [42]:
# exception = pd.concat([matches, matches_eng])

# remain = test[~test['ID'].isin(list(exception['ID'].values))]
# exception = pd.concat([exception, remain[remain['text'] == '']])
# remain = remain[~remain['ID'].isin(list(exception['ID'].values))]
# remain.reset_index(inplace=True)
# remain = remain.sort_values(by='ID')
# remain.drop(columns='index', inplace=True)
# remain.to_csv(os.path.join(path,'remain.csv'),index=False)

# exception['label'] = 6

In [43]:
train_data, valid_data, test_data = torchtext.data.TabularDataset.splits(
        path=path, train='train_df.csv', validation='valid_df.csv', test='test_df.csv', format='csv',
        fields=[('ID',ID),('text', TEXT), ('label', LABEL)], skip_header=True)

In [44]:
print(len(train_data))
print(len(valid_data))
print(len(test_data))

52690
13173
13491

In [45]:
train_df.shape, valid_df.shape, test.shape

((52690, 3), (13173, 3), (13491, 3))

In [46]:
print(vars(train_data[0]))
print(vars(valid_data[0]))
print(vars(test_data[0]))

{'ID': '0', 'text': ['ìœ ì†Œì˜', 'ë¹„í˜¸ê°', 'ì„±í˜•', 'ì•„ì¤Œë§ˆ'], 'label': '1'}
{'ID': '3', 'text': ['ì„±í¬ë¡±', 'ë‹¹í• ', 'ì–¼êµ´', 'ì•„ë‹Œë°', '?'], 'label': '5'}
{'ID': '0', 'text': ['"', 'ì†”ì§íˆ', 'ìš°ë¦¬ë‚˜ë¼', 'ì²­ë…„', 'ë„', 'ë¶ˆìŒí•˜ê³ ', 'ì•„ì¬', 'ë„', 'ë¶ˆìŒí•˜ê³ ', 'ë…¸ì¸', 'ë„', 'ë¶ˆìŒí•˜ë‹¤', '.', 'ë‚˜ë¼', '"'], 'label': '0'}

In [47]:
TEXT.build_vocab(train_data, min_freq=1)
LABEL.build_vocab(train_data)
vocab_size = len(TEXT.vocab)
n_classes = 7
print('ë‹¨ì–´ ì§‘í•©ì˜ í¬ê¸° : {}'.format(vocab_size))
print('í´ë˜ìŠ¤ì˜ ê°œìˆ˜ : {}'.format(n_classes))

ë‹¨ì–´ ì§‘í•©ì˜ í¬ê¸° : 62388
í´ë˜ìŠ¤ì˜ ê°œìˆ˜ : 7

In [48]:
BATCH_SIZE = 64


device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

train_iterator, valid_iterator, test_iterator = torchtext.data.BucketIterator.splits(
    (train_data, valid_data, test_data),
    batch_size = BATCH_SIZE,
    shuffle=True, 
    repeat=False, 
    sort=False,
    device = device
)

In [49]:
# iterator ì¶œë ¥
print('í›ˆë ¨ ë°ì´í„°ì˜ ë¯¸ë‹ˆ ë°°ì¹˜ì˜ ê°œìˆ˜ : {}'.format(len(train_iterator)))
print('ê²€ì¦ ë°ì´í„°ì˜ ë¯¸ë‹ˆ ë°°ì¹˜ì˜ ê°œìˆ˜ : {}'.format(len(valid_iterator)))
print('í…ŒìŠ¤íŠ¸ ë°ì´í„°ì˜ ë¯¸ë‹ˆ ë°°ì¹˜ì˜ ê°œìˆ˜ : {}'.format(len(test_iterator)))

í›ˆë ¨ ë°ì´í„°ì˜ ë¯¸ë‹ˆ ë°°ì¹˜ì˜ ê°œìˆ˜ : 824
ê²€ì¦ ë°ì´í„°ì˜ ë¯¸ë‹ˆ ë°°ì¹˜ì˜ ê°œìˆ˜ : 206
í…ŒìŠ¤íŠ¸ ë°ì´í„°ì˜ ë¯¸ë‹ˆ ë°°ì¹˜ì˜ ê°œìˆ˜ : 211

In [50]:
batch = next(iter(train_iterator)) # ì²«ë²ˆì§¸ ë¯¸ë‹ˆë°°ì¹˜
# print(batch.text[0].shape)
# print(batch.text[1].shape)
print(batch.text.shape)

torch.Size([64, 89])

In [51]:
class GRU(nn.Module):
    def __init__(self, n_layers, hidden_dim, n_vocab, embed_dim, n_classes, dropout_p=0.2):
        super(GRU, self).__init__()
        self.n_layers = n_layers
        self.hidden_dim = hidden_dim

        self.embed = nn.Embedding(n_vocab, embed_dim)
        self.dropout = nn.Dropout(dropout_p)
        self.gru = nn.GRU(embed_dim, self.hidden_dim,
                          num_layers=self.n_layers,
                          batch_first=True)
        self.out = nn.Linear(self.hidden_dim, n_classes)

    def forward(self, x):
        x = self.embed(x)
        h_0 = self._init_state(batch_size=x.size(0)) # ì²«ë²ˆì§¸ íˆë“  ìŠ¤í…Œì´íŠ¸ë¥¼ 0ë²¡í„°ë¡œ ì´ˆê¸°í™”
        x, _ = self.gru(x, h_0)  # GRUì˜ ë¦¬í„´ê°’ì€ (ë°°ì¹˜ í¬ê¸°, ì‹œí€€ìŠ¤ ê¸¸ì´, ì€ë‹‰ ìƒíƒœì˜ í¬ê¸°)
        h_t = x[:,-1,:] # (ë°°ì¹˜ í¬ê¸°, ì€ë‹‰ ìƒíƒœì˜ í¬ê¸°)ì˜ í…ì„œë¡œ í¬ê¸°ê°€ ë³€ê²½ë¨. ì¦‰, ë§ˆì§€ë§‰ time-stepì˜ ì€ë‹‰ ìƒíƒœë§Œ ê°€ì ¸ì˜¨ë‹¤.
        self.dropout(h_t)
        logit = self.out(h_t)  # (ë°°ì¹˜ í¬ê¸°, ì€ë‹‰ ìƒíƒœì˜ í¬ê¸°) -> (ë°°ì¹˜ í¬ê¸°, ì¶œë ¥ì¸µì˜ í¬ê¸°)
        return logit

    def _init_state(self, batch_size=1):
        weight = next(self.parameters()).data
        return weight.new(self.n_layers, batch_size, self.hidden_dim).zero_()

In [52]:
def train(model, optimizer, train_iter):
    model.train()
    for b, batch in enumerate(train_iter):
        x, y = batch.text.to(device), batch.label.to(device)
        y= torch.tensor(y,dtype = torch.long,device =device)
        optimizer.zero_grad()

        logit = model(x)
        loss = criterion(logit, y)
        loss.backward()
        optimizer.step()

In [53]:
# ëª¨ë¸ í‰ê°€ í•¨ìˆ˜
def evaluate(model, val_iter):
    """ê²€ì¦ ë°ì´í„°ì…‹ í‰ê°€"""
    model.eval()
    batch_cor, total_loss = 0, 0

    for batch in val_iter:
        x, y = batch.text.to(device), batch.label.to(device)
        y= torch.tensor(y,dtype = torch.long,device =device)
        logit = model(x)

        loss = F.cross_entropy(logit, y)

        total_loss += loss.item()
        batch_cor += (logit.max(1)[1] == y.data).sum() 

    size = len(val_iter.dataset)
    avg_loss = total_loss / size 
    avg_accuracy = 100.0 * batch_cor / size


    return avg_loss, avg_accuracy

In [54]:
EPOCHS = 5

In [55]:
model = GRU(1, 256, vocab_size, 100, 7, 0.2).to(device)
lr = 0.0007
optimizer = torch.optim.AdamW(model.parameters(), lr=lr, weight_decay=0.0001)
criterion = nn.CrossEntropyLoss()

In [56]:
best_val_loss = None
for e in range(1, EPOCHS+1):
    train(model, optimizer, train_iterator)
    val_loss, val_accuracy = evaluate(model, valid_iterator)

    print("[Epoch: %d] val loss : %5.3f | val accuracy : %5.2f" % (e, val_loss, val_accuracy))

    # ê²€ì¦ ì˜¤ì°¨ê°€ ê°€ì¥ ì ì€ ìµœì ì˜ ëª¨ë¸ì„ ì €ì¥
    if not best_val_loss or val_loss < best_val_loss:
        torch.save(model.state_dict(), os.path.join(path, 'txtclassification.pt'))
        best_val_loss = val_loss

<ipython-input-52-48aac478aca6>:5: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  y= torch.tensor(y,dtype = torch.long,device =device)
<ipython-input-53-24877a702684>:9: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  y= torch.tensor(y,dtype = torch.long,device =device)

[Epoch: 1] val loss : 0.017 | val accuracy : 64.37
[Epoch: 2] val loss : 0.014 | val accuracy : 69.74
[Epoch: 3] val loss : 0.014 | val accuracy : 70.98
[Epoch: 4] val loss : 0.014 | val accuracy : 71.32
[Epoch: 5] val loss : 0.015 | val accuracy : 71.12

In [57]:
def predict(model, test_iter):
    """í•™ìŠµëœ ëª¨ë¸ë¡œ ì •ë‹µ íŒŒì¼ ì˜ˆì¸¡"""
    model.eval()
    preds = []
    pred = []
    for batch in test_iter:
        x = batch.text.to(device)
        y= torch.zeros(1)

        logit = model(x)
        pred=torch.argmax(logit,axis= 1).tolist()
        preds.extend(pred)
    return preds

In [58]:
submission = pd.read_csv(os.path.join(path,'submission.csv'))
submission.head()

   ID  label
0   0    NaN
1   1    NaN
2   2    NaN
3   3    NaN
4   4    NaN

In [59]:
model.load_state_dict(torch.load(os.path.join(path, 'txtclassification.pt')))

In [60]:
pred = predict(model,test_iterator)
len(pred)

13491

In [62]:
test['label'] = pred
test.to_csv(os.path.join(path,'my_submission.csv'),index=False)

In [63]:
test.drop(columns='text', inplace=True)

In [64]:
test

          ID  label
0          0      4
1          1      6
2          2      3
3          3      6
4          4      6
...      ...    ...
13486  13486      6
13487  13487      6
13488  13488      6
13489  13489      1
13490  13490      1

[13491 rows x 2 columns]

In [65]:
test.to_csv(os.path.join(path,'my_submission.csv'),index=False)