In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import os
import re
import numpy as np
import pandas as pd
import matplotlib as mpl
import seaborn as sns
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'NanumBarunGothic' # 나눔바른고딕 적용하기
%matplotlib inline

path = '/content/drive/MyDrive/data/programmers_ai/yujatea/comp_2/'

In [3]:
train = pd.read_csv(os.path.join(path,'train.csv'))

In [4]:
train.head()

   ID                                  text  label
0   0                          유소영비호감 성형아줌마      1
1   1                               나오지마라 썅      3
2   2  식상하고 지긋지긋했는데 잘 끝나네 오예 소리벗고 빤스질러~~!!!      6
3   3                    성희롱 당할 얼굴이 아닌데?ㅋㅋㅋ      5
4   4             "끝까지 해보자~쪽파리 원숭이 자한 쓰레기당"      0

In [5]:
vocab = pd.read_csv(os.path.join(path, 'vocab.csv'))

In [6]:
vocab

     key  replace
0    시1발       시발
1     ㅈㄹ       지랄
2     ㅅㅂ       시발
3     ㅂㅅ       병신
4    ㄱㅅㄲ      개새끼
..   ...      ...
140   졷선       좆선
141  똥구녁      똥구멍
142  빠라라      빨아라
143   미ㅊ       미친
144   틀ㄸ       틀딱

[145 rows x 2 columns]

In [7]:
for key, replace in zip(vocab['key'].values, vocab[' replace'].values):
  try:
    pattern = key + '+'
    train['text'] = train['text'].str.replace(pattern, replace, regex=True)
  except:
    print(key)

 ) 깨문
병@(#%^신

In [8]:
# 오류가 낫던 key들에 대한 추가적인 처리 => 수동으로 진행
text = "안녕하세요) 깨문"
replaced_text = re.sub(r"\) 깨문", '대깨문', text)
print(replaced_text) # "대깨문"

안녕하세요대깨문

In [9]:
train['text'] = train['text'].str.replace(r'\s+\)', "대깨문", regex=True)

In [10]:
train['text'] = train['text'].str.replace(r'병[@#%^]?\(*\)?.*?신', "병신", regex=True)

In [11]:
# 'ㄱ','ㄴ','ㄷ','ㅂ','ㅅ','ㅇ','ㅈ','ㅊ','ㅋ','ㅎ' 3번이상 나오면 3번까지만 남기고 나머지 모두 자르기
pattern = re.compile('[ㄱ-ㅎ]{1,}')
train['text'] = train['text'].str.replace(pattern, "")

In [13]:
pattern = re.compile('[ㅏ-ㅣ]{1,}')
train['text'] = train['text'].str.replace(pattern, "")

In [15]:
# 5.18처럼이나 문자 사이에 낀 '.' 제외 나머지 특수기호 전부 제거
pattern = re.compile('[^0-9a-zA-Zㄱ-ㅎㅏ-ㅣ가-힣.]+')
train['text'] = train['text'].str.replace(pattern, "")

In [16]:
train

          ID                                text  label
0          0                         유소영비호감성형아줌마      1
1          1                              나오지마라썅      3
2          2           식상하고지긋지긋했는데잘끝나네오예소리벗고빤스질러      6
3          3                         성희롱당할얼굴이아닌데      5
4          4                  끝까지해보자쪽파리원숭이자한쓰레기당      0
...      ...                                 ...    ...
65858  65858                               쇼도적당히      6
65859  65859  이젠전라도종것들음식불매다.태양광중금속환경오염물로만든식품사절이다      0
65860  65860                        조센징들은참피곤하게산다      0
65861  65861               문빠다모아서빨갱이한테보내고행복하게살라고      2
65862  65862        항마력딸려서못보겟음보는사람들대부분환상쩌는여자일듯..      5

[65863 rows x 3 columns]

Warning: total number of rows (65863) exceeds max_rows (20000). Limiting to first (20000) rows.