* 판다스 : 데이터프레임과 시리즈라는 두 가지 자료구조를 제공한다. 열이 하나면 시리즈, 둘 이상이면 데이터프레임이다.

## 3.1 판다스

In [4]:
import pandas as pd

In [5]:
file_url = 'https://media.githubusercontent.com/media/musthave-ML10/data_source/main/sample.csv'

sample = pd.read_csv(file_url)

In [6]:
sample

    Var_1  Var_2
0       1      2
1       3      4
2       2      5
3       5      6
4       3      2
5       1      1
6       2      6
7       5      7
8       6      8
9       7      4
10      7      7
11      8      3
12      9      7
13      3      9
14      2      2
15      1      3
16      2      6
17      2      4
18      3      3

In [7]:
# 제일 위 5라인만 보기
sample.head()

   Var_1  Var_2
0      1      2
1      3      4
2      2      5
3      5      6
4      3      2

In [8]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Var_1   19 non-null     int64
 1   Var_2   19 non-null     int64
dtypes: int64(2)
memory usage: 432.0 bytes

In [9]:
# 통계 정보 보기
sample.describe()

           Var_1      Var_2
count  19.000000  19.000000
mean    3.789474   4.684211
std     2.529360   2.310667
min     1.000000   1.000000
25%     2.000000   3.000000
50%     3.000000   4.000000
75%     5.500000   6.500000
max     9.000000   9.000000

In [10]:
sample_dic = {'name': ['John', 'Ann', 'Kevin'], 'age':[23, 22, 21]}
pd.DataFrame(sample_dic)

    name  age
0   John   23
1    Ann   22
2  Kevin   21