* 장점
    * XGBoost 보다도 빠르고 높은 정확도를 보여주는 경우가 많다.
    * 예측에 영향을 미친 변수의 중요도를 확인할 수 있다.
    * 변수 종류가 많고 데이터가 클수록 상대적으로 뛰어난 성능을 보여준다.
* 단점
    * 복잡한 모델인 만큼, 해석에 어려움이 있다.
    * 하이퍼파라미터 튜닝이 까다롭다.

* 종속변수가 연속형 데이터인 경우든 범주형 데이터인 경우든 모두 사용할 수 있다.
* 이미지나 자연어가 아닌 표로 정리된 데이터라면 거의 모든 상황에서 활용할 수 있다.

## 11.1 문제 정의: 한눈에 보는 예측 목표

* 미션 : 카드 거래 내역 데이터셋을 이용해 이상 거래를 예측하라
* 알고리즘 : LightGBM
* 문제유형 : 분류
* 평가지표 : 정확도, 혼동 행렬, 분류 리포트, ROC AUC 함수

## 11.2 라이브러리 및 데이터 불러오기, 데이터 확인하기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

file_url = 'https://media.githubusercontent.com/media/musthave-ML10/data_source/main/fraud.csv'
data = pd.read_csv(file_url)

In [2]:
data.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1852394 entries, 0 to 1852393
Data columns (total 22 columns):
 #   Column                 Dtype
---  ------                 -----
 0   trans_date_trans_time  object
 1   cc_num                 int64
 2   merchant               object
 3   category               object
 4   amt                    float64
 5   first                  object
 6   last                   object
 7   gender                 object
 8   street                 object
 9   city                   object
 10  state                  object
 11  zip                    int64
 12  lat                    float64
 13  long                   float64
 14  city_pop               int64
 15  job                    object
 16  dob                    object
 17  trans_num              object
 18  unix_time              int64
 19  merch_lat              float64
 20  merch_long             float64
 21  is_fraud               int64
dtypes: float64(5), int64(5), object(12)
memory usage: 310.9+ MB

In [4]:
data.isna().mean()

trans_date_trans_time    0.0
cc_num                   0.0
merchant                 0.0
category                 0.0
amt                      0.0
first                    0.0
last                     0.0
gender                   0.0
street                   0.0
city                     0.0
state                    0.0
zip                      0.0
lat                      0.0
long                     0.0
city_pop                 0.0
job                      0.0
dob                      0.0
trans_num                0.0
unix_time                0.0
merch_lat                0.0
merch_long               0.0
is_fraud                 0.0
dtype: float64

In [5]:
data.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1852394 entries, 0 to 1852393
Data columns (total 22 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1852394 non-null  object
 1   cc_num                 1852394 non-null  int64
 2   merchant               1852394 non-null  object
 3   category               1852394 non-null  object
 4   amt                    1852394 non-null  float64
 5   first                  1852394 non-null  object
 6   last                   1852394 non-null  object
 7   gender                 1852394 non-null  object
 8   street                 1852394 non-null  object
 9   city                   1852394 non-null  object
 10  state                  1852394 non-null  object
 11  zip                    1852394 non-null  int64
 12  lat                    1852394 non-null  float64
 13  long                   1852394 non-null  float64
 14  city_pop               1852394 non-null  int64
 15  job                    1852394 non-null  object
 16  dob                    1852394 non-null  object
 17  trans_num              1852394 non-null  object
 18  unix_time              1852394 non-null  int64
 19  merch_lat              1852394 non-null  float64
 20  merch_long             1852394 non-null  float64
 21  is_fraud               1852394 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 310.9+ MB

In [6]:
round(data.describe(),2)

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.852394e+06,1852394.00,1852394.00,1852394.00,1852394.00,1852394.00,1.852394e+06,1852394.00,1852394.00,1852394.00
mean,4.173860e+17,70.06,48813.26,38.54,-90.23,88643.67,1.358674e+09,38.54,-90.23,0.01
std,1.309115e+18,159.25,26881.85,5.07,13.75,301487.62,1.819508e+07,5.11,13.76,0.07
min,6.041621e+10,1.00,1257.00,20.03,-165.67,23.00,1.325376e+09,19.03,-166.67,0.00
25%,1.800429e+14,9.64,26237.00,34.67,-96.80,741.00,1.343017e+09,34.74,-96.90,0.00
50%,3.521417e+15,47.45,48174.00,39.35,-87.48,2443.00,1.357089e+09,39.37,-87.44,0.00
75%,4.642255e+15,83.10,72042.00,41.94,-80.16,20328.00,1.374581e+09,41.96,-80.25,0.00
max,4.992346e+18,28948.90,99921.00,66.69,-67.95,2906700.00,1.388534e+09,67.51,-66.95,1.00

## 11.3 전처리 : 데이터 클리닝

In [7]:
data.drop(['first', 'last', 'street', 'city', 'state', 'zip', 'trans_num', 'unix_time', 'job', 'merchant'], axis=1, inplace=True)

In [8]:
data['trans_date_trans_time'] = pd.to_datetime(data['trans_date_trans_time']) # 날짜 형식으로 변환

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1852394 entries, 0 to 1852393
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   trans_date_trans_time  datetime64[ns]
 1   cc_num                 int64
 2   category               object
 3   amt                    float64
 4   gender                 object
 5   lat                    float64
 6   long                   float64
 7   city_pop               int64
 8   dob                    object
 9   merch_lat              float64
 10  merch_long             float64
 11  is_fraud               int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(3)
memory usage: 169.6+ MB

In [10]:
data['trans_date_trans_time'][:5]

0   2019-01-01 00:00:18
1   2019-01-01 00:00:44
2   2019-01-01 00:00:51
3   2019-01-01 00:01:16
4   2019-01-01 00:03:06
Name: trans_date_trans_time, dtype: datetime64[ns]

## 11.4 전처리: 피처 엔지니어링엔지니어링

### 11.4.1 결제 금액

In [11]:
amt_info = data.groupby('cc_num').agg(['mean', 'std'])['amt'].reset_index()

<ipython-input-11-7623770bda5f>:1: FutureWarning: ['trans_date_trans_time', 'category', 'gender', 'dob'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  amt_info = data.groupby('cc_num').agg(['mean', 'std'])['amt'].reset_index()

In [12]:
amt_info.head()

        cc_num        mean          std
0  60416207185   59.257796   142.869746
1  60422928733   65.483159    92.042844
2  60423098130   96.376084  1000.693872
3  60427851591  107.487550   131.014534
4  60487002085   64.096925   153.207660

In [13]:
data = data.merge(amt_info, on='cc_num', how='left')

In [14]:
data['amt_z_score'] = (data['amt'] - data['mean']) / data['std'] # z-score 계산

In [15]:
data[['amt', 'mean', 'std', 'amt_z_score']].head()

      amt       mean         std  amt_z_score
0    4.97  89.408743  127.530101    -0.662108
1  107.23  56.078113  159.201852     0.321302
2  220.11  69.924272  116.688602     1.287064
3   45.00  80.090040  280.077880    -0.125287
4   41.96  95.341146   94.322842    -0.565941

In [16]:
data.drop(['mean', 'std'], axis=1, inplace=True)

### 11.4.2 범주

In [17]:
category_info = data.groupby(['cc_num', 'category']).agg(['mean', 'std'])['amt'].reset_index()

<ipython-input-17-298579630222>:1: FutureWarning: ['trans_date_trans_time', 'gender', 'dob'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  category_info = data.groupby(['cc_num', 'category']).agg(['mean', 'std'])['amt'].reset_index()

In [18]:
data = data.merge(category_info, on=['cc_num', 'category'], how='left')

In [19]:
data['cat_z_score'] = (data['amt'] - data['mean']) / data['std']
data.drop(['mean', 'std'], axis=1, inplace=True)

### 11.4.3 거리

In [20]:
import geopy.distance

In [21]:
data['merch_coord'] = pd.Series(zip(data['merch_lat'], data['merch_long']))
data['cust_coord'] = pd.Series(zip(data['lat'], data['long']))

In [22]:
data['distance'] = data.apply(lambda x: geopy.distance.distance(x['merch_coord'], x['cust_coord']).km, axis=1)

KeyboardInterrupt:

In [ ]:
distance_info = data.groupby('cc_num').agg(['mean', 'std'])['distance'].reset_index()
data = data.merge(distance_info, on='cc_num', how='left')
data['distance_z_score'] = (data['distance'] - data['mean']) / data['std']
data.drop(['mean', 'std'], axis=1, inplace=True)
data.head()

### 11.4.4 나이 구하기

In [ ]:
data['age'] = 2021 - pd.to_datetime(data['dob']).dt.year

In [ ]:
data.drop(['cc_num', 'lat', 'long', 'merch_lat', 'merch_long', 'dob', 'merch_coord', 'cust_coord'], axis=1, inplace=True)
data.head()

### 11.4.5 새 변수 만들기

In [ ]:
data.info()

In [ ]:
data = pd.get_dummies(data, columns=['category', 'gender'], drop_first=True)

In [ ]:
data.set_index('trans_date_trans_time', inplace=True)
data.head()

## 11.5 모델링 및 평가하기

In [ ]:
train = data[data.index < '2020-07-01']
test = data[data.index >= '2020-07-01']

In [ ]:
len(test) / len(data)

In [ ]:
X_train = train.drop('is_fraud', axis=1)
X_test = test.drop('is_fraud', axis=1)
y_train = train['is_fraud']
y_test = test['is_fraud']

In [ ]:
import lightgbm as lgb

In [ ]:
model_1 = lgb.LGBMClassifier(random_state=100)
model_1.fit(X_train, y_train)
pred_1 = model_1.predict(X_test)